body {
    background-color: #636f7f !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Alatsi, sans-serif;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#userform {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-tabs {
    border: none;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(182, 182, 182, 0.5);
}

.nav-tabs li.active a {
    background-color: #fff;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs li a {
    color: #777;
}

.tab-content {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 5px;
    text-align: center;
}

.btn-larger {
    background: rgb(118, 130, 148);
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
}

.btn-larger:hover {
    background:  rgb(152, 163, 186);
    color: white;
    transition: 0.5s;
}

.error-message {
    color: red;
    text-align: center;
}
